$red-color : #EE3643;
$dark-blue-color : #293449;
$green-color : #63A63E;
$gray-color : #F2F6F8;
$brown-color : #F7F3EC;
$light-blue-color : #32425C;
$olive-color : #E6BF7B;
$dark-red-shadow-color : #B52933;
$yellow-color : #F6B22D;
$instruments-blue-color : #4AAFDE;
$purple-color : #CC79D1;
$light-green-color : #85D179;
$font-family : 'Cuprum', sans-serif;
$p-font-family : 'PT Sans', sans-serif;
$p-font-size : 13px;
$else-font-size : 18px;
